.landing-container{
    height: 45vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    border-bottom: 2px solid ;
}
.landing-card1{
    height: 100%;
    width: 70%;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.landing-card2{
    height: 100%;
    width: 60%;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.window-img{
    height: 170px;
}